<app-header></app-header>

<div class="main-section">
    <div class="content">
        <div class="form">
            <div class="title">
                <h2>
                    Atualize informações do veículo
                </h2>
            </div>

            <div class="input-content">
                <div class="double-input">
                    <div class="field">
                        <label for="">CÓDIGO DO RFID::</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">PLACA:</label>
                        <input type="text">
                    </div>
                </div>
                  
                    <div class="btn-area">
                        <app-btn-purple label="Atualizar"></app-btn-purple>
                    </div>
                        
            </div>
        </div>
    </div>
</div>

