<app-header></app-header>

<div class="main-section">
  <div class="content">
    <div class="form">
      <div class="title">
        <h2>Atualize o RFID do veículo</h2>
      </div>

      <div class="input-content">
        <div class="field">
          <label for="rfid">CÓDIGO DO RFID:</label>
          <input id="rfid" type="text" [(ngModel)]="rfid">
        </div>
        <div class="field">
          <label for="placa">PLACA:</label>
          <input id="placa" type="text" [value]="placa" disabled>
        </div>

        <div class="btn-area">
          <app-btn-purple label="Atualizar" (click)="atualizarRfid()"></app-btn-purple>
        </div>
      </div>
    </div>
  </div>
</div>