<app-header></app-header>

<div class="main-section">
  <div class="content">
    <div class="form">
      <div class="title">
        <h2>Registre seu novo veículo</h2>
      </div>

      <form [formGroup]="veiculoForm">
        <div class="input-content">
          <div class="double-input">
            <div class="field">
              <label for="">PLACA:</label>
              <input type="text" formControlName="placa" maxlength="7" minlength="7">
            </div>
          </div>

          <div class="btn-area">
            <app-btn-purple label="Registrar" (click)="cadastrarVeiculo()"></app-btn-purple>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>