<app-header></app-header>

<div class="main-section">
    <div class="content">
        <div class="form">
            <div class="title">
                <h2>
                    Atualize suas informações
                </h2>
            </div>

            <div class="input-content">
                <div class="double-input">
                    <div class="field">
                        <label for="">NOME:</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">SOBRENOME:</label>
                        <input type="text">
                    </div>
                </div>

                <div class="double-input">
                    <div class="field">
                        <label for="">DATA DE NASCIMENTO:</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">CPF:</label>
                        <input type="text">
                    </div>
                </div>

                <div class="double-input">
                    <div class="field">
                        <label for="">TELEFONE:</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">CEP:</label>
                        <input type="text">
                    </div>
                </div>

                <div class="double-input">
                    <div class="field">
                        <label for="">ENDEREÇO:</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">COMPLEMENTO:</label>
                        <input type="text">
                    </div>
                </div>

                  <div class="single-input">
                    <div class="field">
                        <label for="">E-MAIL:</label>
                        <input class="single" type="text">
                    </div>
                    <div class="field">
                        <label for="">SENHA:</label>
                        <input class="single" type="text">
                    </div>
                    <div class="btn-area">
                        <app-btn-purple label="Atualizar"></app-btn-purple>
                    </div>
                        
                    
                </div>
            </div>
        </div>
    </div>
</div>
