<app-header-purple></app-header-purple>

<div class="main-section">
  <div class="title">
    <h2>Veículos Cadastrados</h2>
  </div>

<div class="search-section">
    <img src="assets/search.svg" alt="">
    <input type="text">
</div>

  <div class="vehicle-card">
    <div class="vehicle-info">
      <p><strong>Código do RFID:</strong> 0001</p>
      <p><strong>Portador:</strong> Giovanni Marcondes Ferreira</p>
      <p><strong>Placa:</strong> BRA2E19</p>
      <p><strong>Status:</strong> <span class="status active"></span> Ativo</p>
    </div>
  </div>


   <div class="vehicle-card">
    <div class="vehicle-info">
      <p><strong>Código do RFID:</strong> 0005</p>
      <p><strong>Portador:</strong> Stephannie Marques Silveira</p>
      <p><strong>Placa:</strong> RIO2E19</p>
       <p><strong>Status:</strong> <span class="status inactive"></span> Inativo</p>
    </div>
  </div>
</div>
