<app-header></app-header>

<div class="main-section">
    <div class="content">
        <div class="form">
            <div class="title">
                <h2>
                    Reativar Veículo?
                </h2>
            </div>

            <div>
                 <div class="content">
                    <p>Deseja reativar o seu veículo cuja placa é BRA2E19?</p>
                 </div>
                
                <div class="btn-area">
                    <div class="btn">
                        <app-btn-white label="Cancelar"></app-btn-white>
                       
                    </div>
                     <div class="btn">
                        
                        <app-btn-purple label="Reativar"></app-btn-purple>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
