<app-header-purple></app-header-purple>

<div class="main-section">
  <div class="title">
    <h2>Perfil</h2>
  </div>


  <div class="profile-card">
    <div class="profile-info">
      <div class="info1">
        <p><strong>Nome:</strong> Giovanni Marcondes Ferreira</p>
        <p><strong>CPF:</strong> 555.888.666-77</p>
        <p><strong>Data de Nascimento</strong> 08/04/1979</p>
        <p><strong>Telefone:</strong> (11) 12345-6789</p>
      </div>
      <div class="info2">
        <p><strong>CEP:</strong> 05180-020</p>
        <p><strong>Endereço:</strong> Av. das Rosas, 18. Casa 07</p>
        <p><strong>E-mail:</strong> gioferreira741</p>
        <p><strong>Senha:</strong>**********</p>
      </div>
    </div>
  </div>

     <div class="btn-area">
          <div class="btn">
            <app-btn-white label="Inativar"></app-btn-white>           
          </div>
          <div class="btn">
            <app-btn-purple label="Editar"></app-btn-purple>
          </div>  
    </div>
