<app-header></app-header>

<div class="main-section">
  <div class="content">
    <div class="form">
      <div class="title title-reset-password-request">
        <h2>
          Alteração de senha
        </h2>
      </div>

      <form class="input-content" [formGroup]="formForgotPassword">
        <div class="single-input" *ngIf="!codeSent && !codeVerified">
          <div class="field">
            <label for="">INSIRA O SEU E-MAIL:</label>
            <input type="email" formControlName="email">
          </div>
        </div>

        <div class="single-input" *ngIf="codeSent && !codeVerified">
          <div class="field">
            <label for="">INSIRA O CÓDIGO ENVIADO EM SEU E-MAIL:</label>
            <input type="text" formControlName="code">
          </div>
        </div>

        <div class="single-input" *ngIf="codeSent && codeVerified">
          <div class="field">
            <label for="">NOVA SENHA:</label>
            <input type="password" formControlName="newPassword">
          </div>
          <div class="field">
            <label for="">CONFIRME A NOVA SENHA:</label>
            <input type="password" formControlName="confirmNewPassword">
          </div>
        </div>

        <div class="btn-area">
          <app-btn-purple *ngIf="!codeSent && !codeVerified" label="Enviar Código" (onClick)="onSubmitForgotPassword()"></app-btn-purple>
          <app-btn-purple *ngIf="codeSent && !codeVerified" label="Validar Código" (onClick)="onSubmitVerifyCode()"></app-btn-purple>
          <app-btn-purple *ngIf="codeSent && codeVerified" label="Alterar Senha" (onClick)="onSubmitResetPassword()"></app-btn-purple>
        </div>
      </form>
    </div>
  </div>
</div>
