<app-header></app-header>

<div class="main-section">
  <div class="content">
    <div class="form">
      <div class="title">
        <h2>Atualize sua senha</h2>
      </div>

      <form [formGroup]="formPassword" (ngSubmit)="onSubmit()">
        <div class="input-content">
          <div class="single-input">
            <div class="field">
              <label for="">SENHA ATUAL:</label>
              <input type="password" formControlName="currentPassword">
            </div>
            <div class="field">
              <label for="">NOVA SENHA:</label>
              <input type="password" formControlName="newPassword">
            </div>
            <div class="field">
              <label for="">CONFIRME A NOVA SENHA:</label>
              <input type="password" formControlName="confirmPassword">
            </div>
          </div>

          <div class="btn-area">
            <app-btn-purple label="Atualizar" (click)="onSubmit()"></app-btn-purple>
            <br>
            <a href="">Esqueceu sua senha?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
