<app-header></app-header>

<div class="main-section">
    <div class="content">
        <div class="form">
            <div class="title">
                <h2>
                    Atualize sua senha
                </h2>
            </div>

            <div class="input-content">
                <div class="single-input">
                    <div class="field">
                        <label for="">SENHA ATUAL:</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">NOVA SENHA:</label>
                        <input type="text">
                    </div>
                    <div class="field">
                        <label for="">CONFIRME A NOVA SENHA:</label>
                        <input type="text">
                    </div>
                </div>

                    <div class="btn-area">
                        <app-btn-purple label="Atualizar"></app-btn-purple>
                        <br>
                        <a href="">Esqueceu sua senha?</a>
                    </div>
            </div>
        </div>
    </div>
</div>
