<header class="header">
  <img 
    src="assets/white-logo.svg" 
    class="logo-left" 
    alt="Logo"
    (click)="goHome()"
    style="cursor: pointer;"
  >

  <div class="profile-menu" (click)="toggleDropdown($event)">
    <img src="assets/login-avatar.svg" class="logo-right" alt="Avatar">

    <!-- Dropdown menu -->
    <div class="dropdown" [class.show]="dropdownOpen">
      <div class="arrow"></div>
      <button (click)="onProfile()">Meu Perfil</button>
      <button (click)="onHistoric()">Passagens</button>
      <button (click)="onBoletos()">Boletos</button>
      <ng-container *ngIf="isAdmin">
        <button (click)="onUsers()">Usuários</button>
        <button (click)="onVehicles()">Veículos</button>
      </ng-container>
      <button (click)="onLogout()">Sair</button>
    </div>
  </div>
</header>
