<app-header-purple></app-header-purple>

<div class="main-section">
  <div class="title">
    <h2>Histórico do Veículo</h2>
  </div>

<div class="filter">
    <select name="pets" id="pet-select">
        <option value="">Filtrar Mês</option>
        <option value="dog">Janeiro</option>
        <option value="cat">Fevereiro</option>
        <option value="hamster">Março</option>
        <option value="parrot">Abril</option>
        <option value="spider">Maio</option>
        <option value="goldfish">Junho</option>
        <option value="">Julho</option>
        <option value="dog">Agosto</option>
        <option value="cat">Setembro</option>
        <option value="hamster">Outubro</option>
        <option value="parrot">Novembro</option>
        <option value="spider">Dezembro</option>
    </select>
</div>

  <div class="vehicle-card">
    <div class="vehicle-info">
      <p><strong>Boleto Emitido em:</strong> 08/04/2025</p>
      <p><strong>Placa:</strong> BRA2E19</p>
      <p><strong>Status do Pagamento:</strong> Concluído</p>
    </div>
    <div class="actions">
      <button class="vizualize" title="Visualize">
          <img src="assets/red-eyes 1.svg" alt="">
      </button>

      <button class="Download" title="Download">
        <img src="assets/Download.svg" alt="">
      </button>

    </div>
  </div>


   <div class="vehicle-card">
    <div class="vehicle-info">
      <p><strong>Boleto Emitido em:</strong> 08/04/2025</p>
      <p><strong>Placa:</strong> RIO2E19</p>
      <p><strong>Status do Pagamento:</strong> Concluído</p>
    </div>
     <div class="actions">
        <button class="vizualize" title="Visualize">
          <img src="assets/red-eyes 1.svg" alt="">
      </button>

      <button class="Download" title="Download">
        <img src="assets/Download.svg" alt="">
      </button>
    </div>
  </div>

  <div class="new-vehicle">
    <app-btn-purple label="Novo Veículo"></app-btn-purple>
  </div>
</div>
