<app-header-purple></app-header-purple>

<div class="main-section">
    <div class="title">
        <h2>Bem Vindo(a), Admin</h2>
    </div>

    <div class="register-info">
        <div class="card-content">
            <div class="card">
                <div class="title-card">
                    <p>Usuários Ativos</p>
                </div>
                <div class="data-card">
                    <h2>500</h2>
                </div>
            </div>

            <div class="card">
                <div class="title-card">
                    <p>Veículos Ativos</p>
                </div>
                <div class="data-card">
                    <h2>724</h2>
                </div>
            </div>
        </div>

         <div class="card-content">
            <div class="card">
                <div class="title-card">
                    <p>Pedágios Atravessados</p>
                </div>
                <div class="data-card">
                    <h2>4050</h2>
                </div>
            </div>

            <div class="card">
                <div class="title-card">
                    <p>Boletos Emitidos</p>
                </div>
                <div class="data-card">
                    <h2>2412</h2>
                </div>
            </div>
        </div>
        
    </div>
</div>