<app-header></app-header>

<div class="main-section">
    <div class="content">
        <div class="form">
            <div class="title">
                <h2>
                    Alteração de senha
                </h2>
            </div>

            <div class="input-content">
                <div class="single-input">
                    <div class="field">
                        <label for="">INSIRA O CÓDIGO ENVIADO EM SEU E-MAIL:</label>
                        <input type="text">
                    </div>
                </div>
                    <div class="btn-area">
                        <app-btn-purple label="Validar"></app-btn-purple>
                    </div>
            </div>
        </div>
    </div>
</div>
