<app-header-purple></app-header-purple>

<div class="main-section">
  <div class="title">
    <h2>Usuários do Sistema</h2>
  </div>

<div class="search-section">
    <img src="assets/search.svg" alt="">
    <input type="text">
</div>

  <div class="vehicle-card">
    <div class="vehicle-info">
      <div>
        <p><strong>Nome:</strong> Giovanni Marcondes Ferreira</p>
        <p><strong>Status:</strong> <span class="status active"></span> Ativo</p>
      </div>
      <div>
        <p><strong>Telefone:</strong> (11) 12345-6789</p>
        <p><strong>E-mail:</strong> gioferreira</p>
      </div>
    </div>
  </div>


   <div class="vehicle-card">
    <div class="vehicle-info">
      <div>
        <p><strong>Nome:</strong> Giovanni Marcondes Ferreira</p>
        <p><strong>Status:</strong> <span class="status active"></span> Ativo</p>
      </div>
      <div>
        <p><strong>Telefone:</strong> (11) 12345-6789</p>
        <p><strong>E-mail:</strong> gioferreira</p>
      </div>
  </div>
</div>