<app-header-purple></app-header-purple>

<div class="main-section">
  <div class="title">
    <h2>Seja Bem-Vindo(a)</h2>
  </div>

  <div class="vehicle-card">
    <div class="vehicle-info">
      <p><strong>Código do RFID:</strong> 0001</p>
      <p><strong>Placa:</strong> BRA2E19</p>
      <p><strong>Status:</strong> <span class="status active"></span> Ativo</p>
    </div>
    <div class="actions">
      <button title="Ativar/Desativar">
          <img src="assets/file-1.svg" alt="">
      </button>

      <button title="Editar">
        <img src="assets/file-2.svg" alt="">
      </button>

      <button class="excluir" title="Excluir">
        <img src="assets/file-3.svg" alt="">
       </button>
    </div>
  </div>


   <div class="vehicle-card">
    <div class="vehicle-info">
      <p><strong>Código do RFID:</strong> 0002</p>
      <p><strong>Placa:</strong> RIO2E19</p>
      <p><strong>Status:</strong> <span class="status inactive"></span> Inativo</p>
    </div>
    <div class="actions">
      <button title="Ativar/Desativar">
          <img src="assets/file-1.svg" alt="">
      </button>

      <button title="Editar">
        <img src="assets/file-2.svg" alt="">
      </button>

      <button class="excluir" title="Excluir">
        <img src="assets/file-3.svg" alt="">
       </button>
    </div>
  </div>

  <div class="new-vehicle">
    <app-btn-purple label="Novo Veículo"></app-btn-purple>
  </div>
</div>
