<app-header-purple></app-header-purple>

<div class="main-section">
  <div class="title">
    <h2>Seja Bem-Vindo(a)</h2>
  </div>

  <div *ngFor="let veiculo of veiculos" class="vehicle-card">
    <div class="vehicle-info">
      <p><strong>Código do RFID:</strong> {{ veiculo.idRfid || 'N/A' }}</p>
      <p><strong>Placa:</strong> {{ veiculo.placa }}</p>
      <p><strong>Status:</strong>
        <span [ngClass]="veiculo.ativo ? 'status active' : 'status inactive'"></span>
        {{ veiculo.ativo ? 'Ativo' : 'Inativo' }}
      </p>
    </div>
    <div class="actions">
    <button 
      *ngIf="veiculo.idRfid"
      title="Ativar/Desativar" 
      (click)="handleAtivarInativar(veiculo)">
      <img src="assets/file-1.svg" alt="">
    </button>
  </div>

  </div>

  <div class="new-vehicle">
    <app-btn-purple label="Novo Veículo" (click)="router.navigate(['/new-car'])"></app-btn-purple>
  </div>
</div>
